@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Hey, thanks for your interest, but this is an app of a job candidate.</h3>

<p></p>
<p>Feel free to <a href="mailto:flavio@null.net.br">mail me</a></p>