@{
    ViewBag.Title = "Ops! Something went wrong!";
}

<h2>@ViewBag.Title</h2>

<p>Apparently you arrived here in a wrong way. Please, consider calling your IT support team.</p>

<div class="alert alert-warning">Actualy, this page is only the result of no 'URL Return' parameter defined on login page. If you call a url like <strong>http://localhost:52346/?returnUrl=SOME_URL</strong> it will show you the login page.</div>